<section class="page-section text mb-0 pb-0" id="about" mdbScrollspyElement="scrollspy">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row justify-content-center">
      <div class="col-lg-8 ml-auto">
        <p class="lead">
          I am Brent Leemans. I am 21 years old and have been living in Heers since my childhood.
          Before I started my career at PXL University of Applied Sciences and Arts,
          I made the choice to continue studying computer science at the start of my fifth year of secondary school.
          The courses I got focused on network engineering and it was my intention to continue studying this at college.
          As I started programming, a greater passion for application development grew.
          That is why I finally made the decision to continue studying full-stack development.
        </p>
      </div>
      <div class="col-lg-8 mr-auto">
        <p class="lead">
          After graduating, I would like to work in an innovative company for a few years
          as a front-end, back-end or full-stack developer.
          I would like to learn as many different things as possible so that I can independently deliver a product from start to finish.
          I get tremendous satisfaction from projects that can inspire other people.
        </p>
      </div>
    </div>
  </div>
</section>
