<section class="page-section text mb-0 pb-0" id="about" mdbScrollspyElement="scrollspy">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row justify-content-center">
      <div class="col-lg-8 ml-auto">
        <p class="lead">
          Ik ben Brent Leemans. Ik ben inmiddels 21 jaar oud en woon al van jongs af aan in Heers. Voordat ik mijn
          loopbaan aan Hogeschool PXL begon, had ik begin het vijfde middelbaar de keuze gemaakt om informatica verder
          te studeren. Deze richting focuste zich voornamelijk op netwerkbeheer en het was ook de bedoeling dat ik dit
          verder zou gaan studeren. Naarmate ik meer ging programmeren groeide er toch een grotere passie voor
          applicatieontwikkeling. Daarom heb ik dan ook uiteindelijk de beslissing gemaakt om full-stack development
          verder te gaan studeren.
        </p>
      </div>
      <div class="col-lg-8 mr-auto">
        <p class="lead">
          Wanneer ik afstudeer zou ik graag voor enkele jaren in een innovatief bedrijf willen werken al is het nu als
          frontend- of backendontwikkelaar. Ik zou graag zoveel mogelijk verschillende dingen bijleren zodat ik
          zelfstandig een product van begin tot einde kan afleveren. Ik haal enorme voldoening uit projecten die andere
          personen kunnen inspireren.
        </p>
      </div>
    </div>
  </div>
</section>
