<!-- Copyright Section-->
<div class="footer py-4 text-center text-white">
  <div class="container">
    <h4 class="text-uppercase">Connect with me</h4>
    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://discordapp.com/users/195844977501143040/"><i class="fab fa-fw fa-discord"></i></a>
    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.linkedin.com/in/brentleemans/"><i class="fab fa-fw fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://github.com/BrentLeemans"><i class="fab fa-fw fa-github"></i></a>
  </div>
</div>
